{% extends "base.html" %}

{% load get_item %}
{% block content %}
<section class="hero min-h-screen"
    style="background-image: url(/uploads/{{ content_images|get_item:"louvainpero_hero_image" }});"
>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">{{ content|get_item:"louvainpero_hero_title" }}</h1>
            <p class="mb-5 text-xl">
              {{ content|get_item:"louvainpero_hero_description" }}
            </p>
            <div class="flex gap-5 my-5">
            <div>
              <span class="countdown font-mono text-4xl"><span style="--value:0;" id="days-countdown"></span></span>
              jours
            </div>
            <div>
              <span class="countdown font-mono text-4xl"><span style="--value:0;" id="hours-countdown"></span></span>
              heures
            </div>
            <div>
              <span class="countdown font-mono text-4xl"><span style="--value:0;" id="min-countdown"></span></span>
              minutes
            </div>
            <div>
              <span class="countdown font-mono text-4xl"><span style="--value:0" id="sec-countdown"></span></span>
              secondes
            </div>
          </div>
        </div>
    </div>
</section>
<div class="container mx-auto px-4 py-8">
  <section>
    <h2 class="text-4xl font-bold text-center mb-4">Nos Partenaires</h2>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-6 items-center">
      {% for sponsor in sponsors %}
        <img src="/uploads/{{sponsor.logo}}" alt="Sponsor {{sponsor.name}}" class="w-full h-auto object-contain" style="max-height: 200px;">
      {% endfor %}
    </div>
  </section>
</div>
<div class="divider"></div>
<div class="container mx-auto px-4 py-8">
  <section>
    <h2 class="text-4xl font-bold text-center mb-8">Précédentes Éditions</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 my-12">
      {% for edition in previous_editions %}
      <div class="card bg-base-100 shadow-xl">
        <figure>
          <img src="/uploads/{{ edition.poster }}" alt="Louvainpero 2024" class="w-full h-auto object-cover">
        </figure>
        <div class="card-body">
          <h3 class="card-title text-xl font-bold">{{ edition.name }}</h3>
          <p>{{ edition.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
<script>
  const startDateString = "{{ last_edition.event_date|date:"Y-m-d" }}";
  const startDate = new Date(startDateString + 'T20:00:00+02:00');

  function updateCountdown() {
    const now = new Date();
    const diff = startDate - now;
    if (diff <= 0) {
      return;
    }
    const days = Math.floor(diff / (1000 * 60 * 60 * 24));
    const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
    const minutes = Math.floor((diff / (1000 * 60)) % 60);
    const seconds = Math.floor((diff / 1000) % 60);
    document.getElementById('days-countdown').style.setProperty('--value', days);
    document.getElementById('hours-countdown').style.setProperty('--value', hours);
    document.getElementById('min-countdown').style.setProperty('--value', minutes);
    document.getElementById('sec-countdown').style.setProperty('--value', seconds);
  }

  setInterval(updateCountdown, 1000);
  updateCountdown();
</script>
{% endblock %}