{% extends "base.html" %}
{% load daisyui_filters %}

{% block content %}
<div class="mx-auto container relative">
    <div class="absolute inset-0 bg-gradient-to-r from-blue-400 to-blue-800 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl -z-10"></div>
    <div class="mx-auto card bg-base-100 shadow-xl p-8 my-12">
      <h1 class="text-4xl font-semibold text-center mb-4">Faire une demande de location</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-2">
                <button type="submit" class="btn btn-primary w-full">Soumettre</button>
              </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
  const locationStart = document.getElementById("id_location_start");
  const locationEnd = document.getElementById("id_location_end");

  locationStart.type = "datetime-local";
  locationEnd.type = "datetime-local";
  locationStart.value = new Date().toISOString().slice(0, 16);
  locationEnd.value = new Date(new Date().getTime() + 60 * 60 * 1000).toISOString().slice(0, 16);
</script>
{% endblock %}