{% extends "base.html" %}
{% load get_item %}
{% block content %}
    <!-- Hero Section -->
    <div
        class="hero min-h-screen"
        style="background-image: url(/uploads/{{ contents_images|get_item:"index_hero_image" }});"
    >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
                <h1 class="text-6xl font-bold">{{ contents|get_item:"hero_title" }}</h1>
                <p class="text-xl py-6">{{ contents|get_item:"hero_description" }}</p>
                <a href="{{ contents_buttons|get_item_link:"hero_button" }}" class="btn btn-primary text-xl">{{ contents_buttons|get_item_text:"hero_button" }}</a>
            </div>
        </div>
    </div>

    <!-- Project Description Section -->
    <div class="py-12 bg-base-100 text-base-content">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-4xl font-bold">{{ contents|get_item:"index_description_title" }}</h2>
            <p class="py-6">
                {{ contents|get_item:"index_description_text" }}
            </p>
        </div>
    </div>

    <!-- Details Section -->
    <div class="py-12 bg-base-200 text-base-content">
        <div class="max-w-6xl mx-auto">
            <h2 class="text-4xl font-bold text-center mb-8">Nos projets</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for project_presentation in projects_presentation %}
                <div class="card bg-base-100 shadow-md">
                    <figure class="px-10 pt-10">
                        <i class="fa-solid {{ project_presentation.icon }} text-6xl"></i>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">{{ project_presentation.title }}</h3>
                        <p>
                            {{ project_presentation.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}